
section {
  padding: 4.5em 0 1.5em 0;
}

section p {
  margin-left: 8%;
  margin-right: 8%;
}

header h2 {
  text-align: center;
  font-weight: bold;
}

.fa-flickr:before{content:"\f16e"}

#logo img {
	height: 3.5em;
	clear: both;
	display: block;
	margin: 0 auto;
	border-radius: 0.3ex;
  background-color: white;
  padding: 0.5ex;
}

#header {
	background-image: url("../../images/main_background.jpg");
}

#banner {
  padding-bottom: 0;
}

.carousel article p {
  text-align: left;
  margin: 0;
}

.carousel article {
    vertical-align: top;
}

article.map {
  margin: 0 auto;
  text-align: center;
}

#contact {
  background-color: white;
}

#footer {
    padding: 0;
}


