
.fa-flickr:before{content:"\f16e"}

#logo img {
	height: 4em;
	clear: both;
	display: block;
	margin: 0 auto;
	border-radius: 0.3ex;
  background-color: white;
  padding: 0.5ex;
}

#header {
	background-image: url("../../images/main_background.jpg");
}
