body {
/* font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif; */
font-family: "neutra_textbook_alt",Arial,sans-serif;
overflow-y: scroll;
}




.bg-foto {
    background-image: url('../img/bg-macuru.jpg');
    background-position: right;
    height: 298px;
    margin-top: -20px;
    margin-bottom: 18px;
}

.logo {
    margin-top: -8px;
}

.bg-title {
    margin: 130px;
    position: absolute;
    top: -65px;
    z-index: 10;
}

.shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.borde {
    border-bottom: 1px solid #ccc;
}

.caja {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    padding: 0.5em 0.5em 0.4em 0.8em;
}

#footer {
    background-color: #333333;
    box-sizing: border-box;
    padding: 13px 13px;
    width: 100%;
    margin-top: 30px;
    color: #ffffff
}

#footer p {
    margin: 0px;
}


#footer a {
    color: inherit;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
}

/* Footer */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-fl:hover {
     color: #000000;
 }
